* {
  padding: 0;
  margin: 0;
}

h1 {
  margin-top: 50px;
  margin-bottom: 50px;
  color: crimson;
  text-decoration: underline;
  text-align: center;
}

h2 {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

main .local {
  height: 50%;
  width: 800px;
  border: 2px solid red;
  margin-left: 0px;
}
main p {
  font-size: 25px;
  text-align: left;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

/*06436F color de header*/
header {
  background-color: #06436F;
  border-bottom: crimson 4px solid;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 1;
}
header a {
  color: aliceblue;
}
header .listas {
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding-top: 20px;
}
header .listas :hover {
  color: crimson;
}
header img {
  width: 30px;
  height: 24px;
}

footer {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
  height: 60px;
  border-top: crimson 4px solid;
  background-color: #06436F;
}
footer img {
  height: 40px;
  border: 2px solid black;
}

body {
  /*Stylo Seccion Ofertas*/
  /*stylo Productos*/
}
body .form-check-input {
  border: 1px solid crimson;
  background-color: bisque;
}
body .form-check-input:checked {
  background-color: crimson;
  border-color: crimson;
}
body .card {
  border: 4px solid crimson;
}
body .card-body {
  background-color: bisque;
}
body .card-group {
  width: 100%;
}
body .busqueda {
  display: flex;
  justify-content: center;
}
body .cartas {
  width: 400px;
  background-color: bisque;
  margin-top: 100px;
}
body .kitten {
  width: 390px;
  background-color: bisque;
}
body .comprar {
  display: flex;
  justify-content: end;
  margin-bottom: 15px;
  height: 50px;
}
body .btn1 {
  background-color: red;
  color: aliceblue;
  margin-right: 10px;
}
body .btn2 {
  background-color: green;
  margin-right: 5%;
}

/*Stylo contactos*/
.direcciones {
  margin-bottom: 50px;
}

.btn {
  background-color: #06436F;
  border: 2px solid crimson;
  color: aliceblue;
}

.btn :hover {
  border-color: crimson;
}

.card {
  position: inherit;
}

.footercontactos {
  margin-top: 250px;
}

/*Stylo consultas*/
ul .facuconsulta {
  padding-bottom: 20px;
}

.imagenpresentacion {
  width: 100%;
}

.grid-consultas {
  display: grid;
  grid-template-columns: auto auto;
  row-gap: 15px;
  margin-left: 15px;
}
.grid-consultas .datos {
  text-decoration: underline;
}
.grid-consultas .formulariotitulo {
  text-decoration: underline;
}

.mail {
  font-size: medium;
}

.tel {
  font-size: medium;
}

/*Stylo Facu Amigos*/
.amigos {
  width: 180px;
  height: 180px;
  border: 4px solid crimson;
  margin: 15px;
}

.galeria :hover {
  transform: scale(2, 2);
  transition: 2s;
}

.nombre {
  height: 15px;
  width: 50px;
  margin-top: 60%;
}

.galeria {
  display: grid;
  grid-template-columns: auto auto;
  row-gap: 30px;
  margin-left: 25%;
}

@media only screen and (max-width: 978px) {
  header {
    width: 100%;
  }
  header .listas {
    display: grid;
    grid-template-columns: auto auto;
  }
  .nosotros {
    width: 100%;
  }
  .nosotros p {
    text-align: center;
  }
  .card-group {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .nuevos-productos {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  img {
    width: 100%;
  }
  .grid-consultas {
    column-gap: 40px;
  }
  .mail {
    font-size: small;
  }
  .direcciones {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
  }
  .galeria {
    grid-template-columns: auto;
    margin-left: 0%;
    justify-content: center;
  }
}

/*# sourceMappingURL=estilo.css.map */
