

/*Stylo pagina index*/

*{
    padding: 0;
    margin: 0;
}
header{ 
    /*06436F color de header*/
    
    background-color: #06436F
    ;
    border-bottom: crimson 4px solid;
    position: sticky;
    top: 0px
}

header a{
    color: aliceblue;
}

.logos{
    display: flex; 
    justify-content: left;
    align-items: center;
}

.logo1{
    width: 80px;
    border: 4px solid crimson;
}
    
    


.logo2{
    width: 500px;
    margin-left: 500px;
    border: 4px solid crimson;   
}

.listas{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    margin: 10px 0px;
}

.nosotros{
    
    
    
}

.quienessomos{
    text-align: center;
        
}

.local{
    margin-bottom: 50px;
    height: 50%;
}

.familia{

    font-size: 25px;
    text-align: justify;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

h1{
    margin-top: 50px;
    margin-bottom: 50px;
    color: crimson;
    text-decoration: underline;
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
    
}

header nav ul{
    list-style: none;
    
}

.local{
    width: 800px;
    border: 2px solid red;
    
}

.iconoig{
    height: 40px;
    border: 2px solid black;
}

.iconofb{
    height: 40px;
    border: 2px solid black;
}

.iconowp{
    height: 40px;
    border: 2px solid black;
}

footer{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    border-top: crimson 4px solid;
    
    background-color: #06436F;
    
    
}

/*Stylo pagina Ofertas*/

.headerp{
    background-color: #06436F;
}

.dental{
    width: 180px;
    border: 4px solid crimson;
    background-color: bisque;
}
.gato{
    width: 180px;
    border: 4px solid crimson;
    background-color: bisque;
}
.monito{
    width: 180px;
    border: 4px solid crimson;
    background-color: bisque;
}
.pelota{
    width: 180px;
    height: 180px;
    border: 4px solid crimson;
    background-color: bisque;
}
/*form ofertas de la semana*/
.jd{
    border: 4px solid crimson;
    width: 180px;
    text-align: center;
    margin-bottom: 10px;
    background-color: bisque;
    
}
.rm{
    border: 4px solid crimson;
    width: 180px;
    text-align: center;
    margin-bottom: 10px;
    background-color: bisque;
}
.mg{
    border: 4px solid crimson;
    width: 180px;
    text-align: center;
    margin-bottom: 10px;
    background-color: bisque;
}
.pl{
    border: 4px solid crimson;
    width: 180px;
    text-align: center;
    margin-bottom: 10px;
    background-color: bisque;
}

.accesorios{
    display: grid;
    grid-template-columns: auto auto  ;
    justify-content: center;
    justify-content: space-around;
    
    
}

/*stylo Productos*/

.np{
    text-align: center;
}

.busqueda{
    display: flex;
    justify-content: center;
}

.royal{
    display: grid;
    grid-template-rows: auto auto auto auto auto auto auto auto;
    
}

.kitten{
 width: 180px;
 border: 4px solid crimson;
 background-color: bisque;
}
.fit{
    height: 180px;
    border: 4px solid crimson;
    background-color: bisque;
}
.mini{
    height:  180px;
    border: 4px solid crimson;
    background-color: bisque;
    
}
.med{
    width: 180px;
    border: 4px solid crimson;
    background-color: bisque;
}
/*form nuestros productos*/
.rck{ border: 4px solid crimson;
      background-color: bisque;
      width: 180px;
      text-align: center;

}
.rcf{ border: 4px solid crimson;
      background-color: bisque;
      width: 180px;
      text-align: center;

}
.rcm{ border: 4px solid crimson;
      background-color: bisque;
      width: 180px;
      text-align: center;

}
.rcmd{ border: 4px solid crimson;
       background-color: bisque;
       width: 180px;
       text-align: center;
}

.comprar{
    display: flex;
    justify-content: end;
    margin-bottom: 15px;
    height: 50px;
}

.btn1{
    background-color: red;
    color: aliceblue;
    

}
.btn2{
    background-color: green;

}

/*Stylo contactos*/

.direcciones{
    margin-bottom: 50px;
}

.btn{
    background-color: #06436F;
    border: 2px solid crimson;
    color: aliceblue;

}

/*Stylo Facu Amigos*/

.amigos{
    width: 180px;
    height: 180px;
    border: 4px solid crimson;
    margin: 15px;
}

.nombre{
    height: 15px;
    width: 50px;
    margin-top: 60%;
}

.galeria{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    

}