/*Stylo consultas*/

ul{
    .facuconsulta{
        padding-bottom: 20px;
    }
}

.imagenpresentacion{
    width: 100%;
}

.grid-consultas{
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 15px;
        .datos{
            text-decoration: underline;
        }
        .formulariotitulo{
            text-decoration: underline;
        }
    margin-left: 15px;
}


