/*Stylo consultas*/
header{
    height: 50px;
}

body{
    min-height: 100vh;

.formule{
    border: 4px solid crimson;
       background-color: bisque;
       margin-bottom: 50px;
       margin-left: 250px;
    
}
}

.footerconsultas{
    margin-top: 500px;

}