/*Stylo contactos*/

.direcciones{
    margin-bottom: 50px;
}

.btn{
    background-color: #06436F;
    border: 2px solid crimson;
    color: aliceblue;

}

.card{
    position: inherit;
}

.footercontactos{
    margin-top: 250px;
}