/*06436F color de header*/
header {

  
  background-color:$azul
  ;
  border-bottom: crimson 4px solid;
  position: -webkit-sticky;
  position:sticky ;
  top: 0px;
  z-index: 1;

    a{
      color: aliceblue;
    }
    
   
  .listas{
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding-top: 20px;
  }

  .listas :hover{
    color: $rojo;
  }


  img{
    width: 30px;
    height: 24px;
  }

 
}  




