header{
      /*06436F color de header*/
    
      background-color:$azul
      ;
      border-bottom: crimson 4px solid;
      position:sticky ;
      top: 0px;

      a{color: #f0f8ff;
        

      }
      nav{
      
        ul{
            list-style: none;
        }
      
}
}
