//Header
@media only screen and (max-width: 978px){
    header{
        width: 100%;
       

        .listas{
          display: grid;
          grid-template-columns: auto auto;
           
        }
    }






//productos

.card-group{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}



.nuevos-productos{
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

//consultas

    img{
        width: 100%;
    }

    .grid-consultas{
        column-gap: 20px;
    }

    .mail{
        font-size: small;
    }

//contacto

    .direcciones{
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 20px;
    }

//galeria

.galeria{
    grid-template-columns: auto;
    margin-left: 0%;
    justify-content: center;
}

}    